body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
  }

  header{
      height: 100vh;
      background-image: url(https://dosenit.com/wp-content/uploads/2020/10/Gunung-Fuji-Jepang-1024x640-1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  .menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    color: #cdcdcd;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
  }
  
  .menu-logo {
    line-height: 0;
    margin: 0 20px;
  }
  
  .menu-logo img {
    max-height: 1000px;
    max-width: 1000px;
    flex-shrink: 0;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .menu-container a:hover {
    color: #00C6A7;
  }
  
  .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px,-1px);
    background: #232323;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /* mobile styles */
  @media only screen and (max-width: 767px) { 
    .menu-container {
      flex-direction: column;
      align-items: flex-end;
    }
    
    .menu-logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .menu {
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      right: -300px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 50px;
      background-color: rgba(0,0,0,.9);
      box-shadow: 0 0 10px rgba(255,255,255,.3);
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translateX(0%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(-100%);
    }
  }
  
  /*desktop style*/
  @media only screen and (min-width: 768px) { 
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #cdcdcd;
    }
  
    .menu-container input {
      display: none;
    }
  
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }

  main {
    height:100vh;
    background:black;
    background-size:cover;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
}

.hero_div {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}

.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}

img{
    width: 20%;
    height: 20%;
}

.hero-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 170px;
}

.text{
    word-wrap: break-word;
    width: 280px;
    color: #ffffff;
}

.main1 {
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.img-follow {
  width: 30%;
}

.follow-text{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.follow {
  text-align: center;
}

.main2{
  background: rgb(63,91,251);
background: radial-gradient(circle, rgba(63,91,251,1) 0%, rgba(70,241,252,1) 100%);
}

.hover {
  color:#fff ;
  text-decoration: none;
}

.hover:hover{
  background: rgb(167,41,203);
  background: linear-gradient(90deg, rgba(167,41,203,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  transition: .100s ease-in-out;
  transition-duration: .100s;
  color: aqua;
}

footer{
  background-color: rgba(211, 209, 209, 0.822);
  padding-bottom: 5px;
  text-align: center;
}